In [1]:
import pandas as pd
import numpy as np
%ls

'Access to electricity (% of population).csv'   'Class3- pt2.ipynb'
'Access to electricity (% of population).xlsx'   data/
 Act2-Binder.csv                                 datasets/
 Act2-Binder.xls                                 newdata/
 antropometria-dataset-2.csv                     README.md
 API_AG.LND.FRST.ZS_DS2_en_csv_v2_3469441.csv    requirements.txt
'Canada (2).ipynb'                              'Spotify (2).ipynb'
 Canada.ipynb                                   'Untitled1 (1).ipynb'
 Class3.ipynb                                    Untitled1.ipynb
'Class3- pt2 (1).ipynb'                          Untitled.ipynb

In [2]:
df = pd.read_csv('antropometria-dataset-2.csv')
df.head(5)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [3]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [13]:
pd.pivot_table(df, 
               index = ['desc_ent','sexo'],
               values = 'peso',
               margins = True
           )

                               peso
desc_ent            sexo
AGUASCALIENTES      1     69.985381
                    2     63.254292
BAJA CALIFORNIA     1     71.391818
                    2     65.893667
BAJA CALIFORNIA SUR 1     75.561015
...                             ...
YUCATAN             1     65.717541
                    2     60.537515
ZACATECAS           1     66.096483
                    2     62.757788
All                       64.638707

[65 rows x 1 columns]